table{
    color: #ffffff;
    text-align: center;
    border-collapse: collapse;
    font: normal arial, helvetica , sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #4e494d ;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton{
    background-color: #7e650018;
}

.operatorButton{
    background-color: #ff5e04;
}

.ACButton{
    background-color: #7e650018;
}